**DAY 2**
By the end of day, as a minimum you should have:

Initiated the data cleaning process, focusing on non-date fields. This should include handling null values, removing duplicates, manipulating strings, and formatting the data.
Implemented the use of Regular Expressions (Regex) in Python to clean and manipulate string data within the dataset.
If dates are included in the analysis, implemented the use of proper date handling tecues.hniq

In [ ]:

sharks_df.columns = pd.Series(sharks_df.columns).apply(lambda col: col.lower())
sharks_df.rename(columns = lambda x: x.replace(' ', '_'), inplace=True)
sharks_df.columns

In [ ]:
sharks_df['country'] = sharks_df['country'].str.upper()
sharks_df['country'] = sharks_df['country'].str.strip()
sharks_df['country'] = sharks_df['country'].str.replace(' ', '_')

In [ ]:
replace_dict = {
    'USA': 'UNITED_STATES',
    'COLUMBIA': 'COLOMBIA',
    'ST_KITTS_/_NEVIS': 'ST_KITTS_AND_NEVIS',
    'ST._MARTIN': 'ST_MARTIN',
    'TRINIDAD_&_TOBAGO': 'TRINIDAD_AND_TOBAGO',
    'UNITED_ARAB_EMIRATES_(UAE)': 'UNITED_ARAB_EMIRATES',
    'EGYPT_/_ISRAEL': 'EGYPT_ISRAEL',
    'RED_SEA_/_INDIAN_OCEAN': 'RED_SEA_INDIAN_OCEAN',
    'INDIAN_OCEAN?': 'INDIAN_OCEAN',
    'CEYLON_(SRI_LANKA)': 'CEYLON_SRI_LANKA'
}

sharks_df['country'] = sharks_df['country'].replace(replace_dict)

# Display unique countries in cleaned format
#print(sharks_df['country'].unique())

df_sorted = sharks_df.sort_values(by='country')
print(df_sorted["country"].iloc[150:200])


df_sorted['country'].value_counts()
#to figure out where is the most and less shark attacks happenning: so we can use this info for our hypothesis.

In [ ]:
sharks_df.nunique()

**Hey!I did some stuff in Country column and now I am cleaning the activity column** -Damla

In [ ]:
sharks_df['activity'] = sharks_df['activity'].str.lower()
sharks_df['activity'] = sharks_df['activity'].str.strip()
sharks_df['activity'] = sharks_df['activity'].str.replace(' ', '_')

In [ ]:
sharks_df['activity']

In [ ]:
sharks_df["activity"].unique()

**TYPE COLUMN**

In [ ]:
sharks_df['type'] = sharks_df['type'].str.lower()
sharks_df['type'] = sharks_df['type'].str.strip()
sharks_df['type'] = sharks_df['type'].str.replace(' ', '_')

In [ ]:
sharks_df["type"].unique()

In [ ]:
array(['unprovoked', 'provoked', 'questionable', 'watercraft',
       'sea_disaster', nan, '?', 'unconfirmed', 'unverified', 'invalid',
       'under_investigation', 'boat'], dtype=object)